# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Dependency directories
env/
env2/
venv/
env3/
venv3/

# Secret keys
# (Include .env if you want it in the repo)
# .env

# Static files
staticfiles/
media/

# IDE files
.idea/
.vscode/

# Compiled Python bytecode
*.pyc

# Environment-specific files
.env.local
.env.development
.env.test
.env.staging
.env.production

# System files
.DS_Store
Thumbs.db

# Database file
# Exclude if you want to keep it in the repo
# db.sqlite3
